body {
  font-family: Arial, sans-serif;
  background-color: #494949;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: auto; /* Allow scrolling if necessary */
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #191414;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: auto; /* Ensure container can grow as needed */
  max-width: 100%; /* Ensure container doesn’t overflow */
}

h1 {
  font-size: 2.5em;
}

p {
  margin-bottom: 20px;
}

.btn,
.btn_red {
  text-decoration: none;
  color: #fff;
  background-color: #1db954;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  margin: 5px;
  flex: 1 1 auto; /* Allow buttons to be flexible */
  max-width: calc(
    50% - 20px
  ); /* Ensure buttons don’t overflow, set space for both buttons */
  white-space: nowrap; /* Prevent text from wrapping */
  box-sizing: border-box;
}

.btn:hover {
  background-color: #14833b;
}

.btn_red {
  background-color: red;
}

.btn_red:hover {
  background-color: rgb(182, 27, 27);
}

/* Container for buttons */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Increase space between buttons */
  width: 100%; /* Ensure the container uses the full width */
}

/* New styles for link container */
.links {
  text-align: center;
  margin-top: 20px;
}

.links p {
  margin: 0;
}

.links a {
  color: #1db954;
  text-decoration: none;
  margin: 0;
}

.links a:hover {
  text-decoration: underline;
}

/* for phones */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  }

  h1 {
    font-size: 2em;
  }

  .btn,
  .btn_red {
    padding: 8px 16px;
    font-size: 16px; /* Adjust font size if needed */
    white-space: nowrap; /* Ensure text doesn't wrap */
  }

  p {
    margin-bottom: 15px;
  }

  .button-container {
    gap: 10px; /* Adjust spacing for medium screens */
  }
}

/* Styles for mobile phones */
@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  .container {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-size: 1.5em;
  }

  .btn,
  .btn_red {
    padding: 6px 12px;
    font-size: 14px;
    width: 100%; /* Ensure buttons take full width on mobile */
    white-space: nowrap; /* Ensure text doesn't wrap */
  }

  .button-container {
    flex-direction: column;
    gap: 10px; /* Increase gap for better spacing on small screens */
  }

  p {
    margin-bottom: 10px;
  }
}
