<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You successfully created your playlist</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>You successfully created your playlist!</h1>
      <p>
        You can visit your new playlist by clicking
        <a href="{{ playlist_url }}" target="_blank">here</a>. Otherwise you can
        choose your next action below:
      </p>
      <a href="{{ url_for('create_or_update_playlist') }}" class="btn"
        >Main Menu</a
      >
      <a href="{{ url_for('delete_playlist') }}" class="btn_red"
        >Delete Playlist</a
      >
      <a href="{{ url_for('signup_auto_update') }}" class="btn"
        >Sign Up for Automatic Updates</a
      >
      <a href="{{ url_for('logout') }}" class="btn_red">Log Out</a>
    </div>
    <div class="links">
      <p>
        This was created by
        <a
          href="https://github.com/rafailpapastamou"
          target="_blank"
          rel="noopener noreferrer"
          >Rafail Papastamou</a
        >. Visit the website's GitHub page
        <a
          href="https://github.com/rafailpapastamou/spotify-top-monthly-playlist"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >.
      </p>
    </div>
  </body>
</html>
