<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You successfully deleted your playlist</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='icon.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>You successfully deleted your playlist!</h1>
      <a href="{{ url_for('create_or_update_playlist') }}" class="btn"
        >Main Menu</a
      >
      <a href="{{ url_for('logout') }}" class="btn_red">Log Out</a>
    </div>
    <div class="links">
      <p>
        This was created by
        <a
          href="https://github.com/rafailpapastamou"
          target="_blank"
          rel="noopener noreferrer"
          >Rafail Papastamou</a
        >. Visit the website's GitHub page
        <a
          href="https://github.com/rafailpapastamou/spotify-top-monthly-playlist"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >.
      </p>
    </div>
  </body>
</html>
