<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Playlist Creator</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='icon.svg') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Spotify Monthly Playlist Creator</h1>
      <p>Create your monthly top tracks playlist on Spotify automatically!</p>
      <a href="{{ url_for('login') }}" class="btn">Login with Spotify</a>
    </div>
    <div class="links">
      <p>
        This was created by
        <a
          href="https://github.com/rafailpapastamou"
          target="_blank"
          rel="noopener noreferrer"
          >Rafail Papastamou</a
        >. Visit the website's GitHub page
        <a
          href="https://github.com/rafailpapastamou/spotify-top-monthly-playlist"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >.
      </p>
    </div>
  </body>
</html>
