<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Monthly Playlist Creator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Spotify Playlist Options</h1>
      {% if playlist_exists %}
      <p>
        You already have a
        <a href="{{ playlist_url }}" target="_blank" rel="noopener noreferrer"
          >playlist</a
        >
        created from this website. You can update it if you want by clicking the
        button below.
      </p>
      <div class="button-container">
        <a href="{{ url_for('update_playlist') }}" class="btn"
          >Update Playlist</a
        >
        <p>You can delete your playlist by clicking the button below.</p>
        <a href="{{ url_for('delete_playlist') }}" class="btn btn_red"
          >Delete Playlist</a
        >
      </div>
      {% else %}
      <p>
        Click the button below to create a playlist with your top streamed songs
        of the last 30 days.
      </p>
      <a href="{{ url_for('create_playlist') }}" class="btn">Create Playlist</a>
      {% endif %}
      <p>
        Click the button below if you want every 1st of the month an updated
        playlist with your top streamed songs to be created automatically. You
        can opt out anytime you want.
      </p>
      <a href="{{ url_for('signup_auto_update') }}" class="btn"
        >Sign Up for Automatic Updates</a
      >
      <a href="{{ url_for('logout') }}" class="btn btn_red">Log Out</a>
    </div>
    <div class="links">
      <p>
        This was created by
        <a
          href="https://github.com/rafailpapastamou"
          target="_blank"
          rel="noopener noreferrer"
          >Rafail Papastamou</a
        >. Visit the website's GitHub page
        <a
          href="https://github.com/rafailpapastamou/spotify-top-monthly-playlist"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >.
      </p>
    </div>
  </body>
</html>
