<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Monthly Playlist Creator</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='icon.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Top Monthly Playlist Creator</h1>
      {% if signed_up_for_auto_update %} {% if playlist_exists %}
      <p>
        You are already signed up for automatic updates. Your
        <a href="{{ playlist_url }}" target="_blank" rel="noopener noreferrer">
          playlist
        </a>
        will be updated automatically on the 1st of each month.
      </p>
      <br />
      <p>You can delete your playlist by clicking the button below.</p>
      <a href="{{ url_for('delete_playlist') }}" class="btn btn_red"
        >Delete Playlist</a
      >
      {% else %}
      <p>
        You are already signed up for automatic updates. Your playlist
        (currently deleted) will be recreated and then automatically updated on
        the 1st of each month.
      </p>
      {% endif %}
      <p>
        You can opt out of the automatic updates by clicking the button below.
      </p>
      <a href="{{ url_for('opt_out_auto_update') }}" class="btn btn_orange"
        >Opt Out of Automatic Updates</a
      >
      {% elif playlist_exists %}
      <p>
        You already have a
        <a href="{{ playlist_url }}" target="_blank" rel="noopener noreferrer">
          playlist
        </a>
        created from this website. You can update it if you want by clicking the
        button below.
      </p>
      <div class="button-container">
        <a href="{{ url_for('update_playlist') }}" class="btn"
          >Update Playlist</a
        >
        <p>You can delete your playlist by clicking the button below.</p>
        <a href="{{ url_for('delete_playlist') }}" class="btn btn_red"
          >Delete Playlist</a
        >
      </div>
      {% else %}
      <p>
        Click the button below to create a playlist with your top streamed songs
        of the last 30 days.
      </p>
      <a href="{{ url_for('create_playlist') }}" class="btn">Create Playlist</a>
      {% endif %} {% if not signed_up_for_auto_update %}
      <p>
        Click the button below if you want an updated playlist with your top
        streamed songs to be created automatically every 1st of the month. You
        can opt out anytime you want.
      </p>
      <a href="{{ url_for('signup_auto_update') }}" class="btn"
        >Sign Up for Automatic Updates</a
      >
      {% endif %}

      <a href="{{ url_for('logout') }}" class="btn btn_red">Log Out</a>
    </div>
    <div class="links">
      <p>
        This was created by
        <a
          href="https://github.com/rafailpapastamou"
          target="_blank"
          rel="noopener noreferrer"
          >Rafail Papastamou</a
        >. Visit the website's GitHub page
        <a
          href="https://github.com/rafailpapastamou/top-monthly-playlist"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >.
      </p>
    </div>
  </body>
</html>
