<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Users</title>
  </head>
  <body>
    <h1>Users</h1>
    <table border="1">
      <tr>
        <th>Spotify User ID</th>
        <th>Access Token</th>
        <th>Refresh Token</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user['spotify_user_id'] }}</td>
        <td>{{ user['access_token'] }}</td>
        <td>{{ user['refresh_token'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
